* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background: #242829;
}

#root {
    width: 100%;
    display: flex;
    flex-direction: column;
    #main-content{
        // border: 3px solid red;
        width: 100%;
        height: 700px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        // overflow: hidden;
        // position: relative;
        background-color: #fff;
        position: fixed;
    }
    #launch-manifest {
        border: 3px solid green;
        width: 100vw;
        position: absolute;
        margin-top: 900px;
    }
}
// .line-highlight {
//     position: "absolute";
//     top: "40vw";
//     border: "3px solid black";
//     border-radius: "50%";
//     transform: rotateZ(90deg);
//     transition: "all 1000ms linear";
// }
// .hud-dot {
//     position: "absolute";
//     top: "40vw";
//     border: "3px solid black";
//     border-radius: "50%";
//     transform: rotateZ(90deg);
//     transition: "all 1000ms linear";

//     &::after {
//         content: "";
//         position: absolute;
//         height: 100%;
//         width: 20px;
//         left: -11px;
//         background-image: radial-gradient(circle at center, #333 4px, transparent 4px);
//         background-size: 20px 20px;
//         background-position: center right;
//         background-repeat: no-repeat;
//     }
// }
// #now-marker {
//     position: "absolute";
//     top: "40vw";
//     border: "3px solid black";
//     border-radius: "50%";
//     transform: rotateZ(90deg);
//     transition: "all 1000ms linear";

//     &::after {
//         content: "";
//         position: absolute;
//         height: 10px;
//         width: 20px;
//         left: -11px;
//         // background-image: radial-gradient(circle at center, #333 4px, transparent 4px);
//         background-image: linear-gradient(#333, #f00);
//         background-size: 10px 20px;
//         background-position: center right;
//         background-repeat: no-repeat;
//     }
// }